# CLion and CMake
cmake-build-debug
cmake-build-release
.idea
The Secure Keypad.pdsprj
The Secure Keypad.pdsprj.LAPTOP-EKJLOB76.Khalaf.workspace

# Compiled Binaries
*.elf
*.bin
*.exe
*.o

# OS Files
.DS_Store
Thumbs.db